@font-face {
    font-family: Font-Bold;
    src: url(/src/assets/fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Font;
    src: url(/src/assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Font-Regular-Italic;
    src: url(/src/assets/fonts/Roboto-BlackItalic.ttf);
}
